* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px 10px/16px = 62.5%

	@media (max-width: 575.98px) { 
	font-size: 43.75%; // 1rem = 7px 7px/16px = 43.75%

	}
}

body {
	display: grid;
	// grid-template-columns: repeat(auto-fill, 1fr);
	// height: 85vh;
	// grid-column: 3 / span 4;
	background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}

.container-fluid {
	padding: 0;
}
