.notegroup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .8rem auto;

    width: 50%;

    &_headline {
        display: flex;
        flex-direction: row;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 1.6rem;
        text-align: end;
    }

    &_nav {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;

        ul {
            margin-bottom: 0;
        }

       

        &-icons {
            display: flex;
            justify-self: space-evenly;
            margin: .4rem .4rem;
            color: $primary-grey;
            cursor: pointer;
        }
    }

}