.timeline {
	margin: 0.8rem auto;

	width: 50%;

	&_headline {
		font-family: $font-primary;
		font-weight: 600;
		font-size: 1.6rem;
		text-align: end;
	}

	&_nav {
		display: flex;
		flex-direction: row;
		margin-bottom: 0;

		ul {
			margin-bottom: 0;
		}

		&-icons {
			display: flex;
			justify-self: space-evenly;
			margin: 0.4rem 0.4rem;
			color: $primary-grey;
			cursor: pointer;
		}
	}
}
