.todo_input {
	position: relative;
	width: 40rem;
	@media (min-width: 575px) {
		width: auto;
		.col {
			flex-basis: 0;
		}
	}
	margin: 0 auto;

	input.form-control {
		height: 5rem;
		font-size: 1.2rem;
		font-weight: 600;
		font-family: $font-primary;
		line-height: 1.5;
		text-transform: lowercase;
		color: $dark-black;
		background-color: $primary-grey;
		background-clip: padding-box;
		border: 1px solid $primary-grey;
		border-radius: 1.2rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		z-index: 5;
		margin-top: 0.3rem;
		padding: 1rem 0 1rem 3rem;
		resize: none;
		overflow: hidden;

		&::placeholder {
			transform: translate(0, 0);
		}

		&:active,
		&:focus {
			background-color: $primary-grey;
			border: 2px solid $color-primary-yellow;
		}
	}

	&-icon {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-1.5rem, 1.5rem);
		color: $color-primary-yellow-dark;
		cursor: pointer;
	}

	@media (min-width: 575px) {
	}
}
