.todo {
	margin: 1.3rem auto;
	position: relative;
	background-clip: border-box;
	background-color: $smoke-white;
	width: 40rem;
	@media (min-width: 576px) {
		width: auto;
	}
	height: auto;
	color: $pixel-dark;
	font-family: $font-trisary;
	border-radius: 1rem;
	padding: 1rem 1.3rem 1rem 1.3rem;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr;
	grid-gap: 0.5rem 0;

	&-items {
		grid-column: 1 / -1;
		&-text {
			display: inherit;
			font-size: 1.3rem;
			font-weight: 500;
			font-family: $font-primary;
			margin: 0.1rem 0 0.1rem 0;
			text-transform: capitalize;
		}
	}

	&-items {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&-timeline {
			display: flex;
			&-today,
			&-time {
				display: inline-block;
				font-family: $font-trisary;
				font-weight: 600;
				font-size: 1rem;
			}
		}
		&_icons {
			display: inline-block;
			grid-column: 1 / -1;
			justify-self: end;
			cursor: pointer;
		}
	}

	p {
		margin-bottom: 0;
	}
}
