.view {
	margin: 1.3rem auto;
	position: relative;
	background-clip: border-box;
	background-color: $smoke-white;
	width: 40rem;
	height: auto;
	color: $pixel-dark;
	font-family: $font-trisary;
	font-weight: 600;
	border-radius: 1.3rem;
	padding: 0.8rem 0.6rem 1rem 1rem;
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	grid-template-rows: max-content 2rem min-content;
    align-content: space-between;
    grid-gap: .3rem;

	&-items {
        grid-column: 1 / span 3;
		&-text {
			display: inherit;
			font-size: 1.3rem;
			font-weight: 600;
			font-family: $font-trisary;
			margin: 0.6rem 0 0.1rem 0;
		}
	}

	&-today,
	&-time {
		display: inline-block;
		font-family: $font-secondary;
		font-weight: 600;
        font-size: 0.9rem;
        grid-auto-columns: 2;
	}

	&_icons {
		margin: 0 auto;
        grid-column: 3 / -1;
        align-self: space-between;
	}
}
