.NotificationBar{
    display: inline-block;
    width: 0%;
    height: 70%;
    position: absolute;
    top: 64px;
    right: 0%;
    background-color:rgba(255,255,255,.5);
    transition: .4s ease-in-out;
}


.NotificationBar.Show{
    width: 25%;
}

.NotificationBar.Hide{
    width: 0%;
}

.Hide .heading{
    display: none;
    transition: .4s ease-in-out;
}

.Show .heading{
    text-align: center;
    display: block;
    visibility: visible;
    font-size: 2rem;
    padding: .5rem;
    border-top: 1px solid white;
    background-image:linear-gradient(15deg,#FFA500 0,#FFA500 60%,#f8bb49 40%);
}