//Color Variables 
$color-primary-yellow : #feb72b;
$color-primary-yellow-dark: #f39422;
$color-bg-white: #f1f3f4;
$primary-body-color: #333333;
$primary-grey : #cccccc;

$dark-black : #222831;
$pixel-dark : #393e46;