.hero {
    display: grid;
    grid-column: 2 / span 4;
    margin-top: 10rem;
    align-items: center;
    justify-content: center;

    .model {
        height: 50vh;
        width: 60vw;
        background-color: $color-bg-white;
        border-radius: 1rem;

        &_divider {
            height: 2rem;
            background-color: $color-primary-yellow-dark;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        &_nav {
            background-color: $color-primary-yellow;
            height: 4.5rem;
            padding: 0 10rem;

            a {
                color: $pixel-dark;
                text-decoration: none;
                background-color: transparent;
            }
        }
        &_form {

           div.search_icon {
                position: relative;

                i {
                    position: absolute;
                    top: 1.2rem;
                    bottom: 0;
                    transform: translate(6rem, 0);
                }
            }
            input {
                font-family: $font-primary;
                font-size: 1.4rem;
                color: $pixel-dark;
                font-weight: 600;
                text-transform: capitalize;
            }
        }
        &_brand {
            font-family: $font-primary;
            font-weight: 600;
        }

        &_search {
            width: 100%;
            font-size: 1.3rem;
            line-height: 1.5rem;
            border-radius: 3rem;
            padding: 1rem 6rem 1rem 8rem;
            background-color: $color-primary-yellow-dark;
            border: none;

            &:focus,
            &:active {
                outline: none;
                background-color: inherit;
                border: none;

            }

            &::placeholder {
                text-align: start;
                color: $pixel-dark;
                font-family: $font-primary;
                font-weight: 400;
                padding: 0;
            }

            
        }

        .navbar-nav {
            display: flex;
            flex-direction: row;
            margin-right: 3rem;
        }

        .navbar-brand {
            font-size: 1.35rem;
        }

        .nav-item {
            margin-right: 2.1rem;
        }
    }
}