//Color Variables 
// main color 
$color-primary-yellow : #feb72b;
$color-primary-yellow-dark: #f39422;
// ---------------------------------------
// elements color
$color-bg-white: #f3f3f3;
$primary-grey : #cccccc;
$smoke-white : #f9f6f7;
// ---------------------------------------

// color for Dark Mode and Fonts 
$dark-black : #222831;
$pixel-dark : #393e46;
$primary-body-color: #333333;
// ---------------------------------------
